/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: rgb(34, 36, 42);
  padding: 2px;
}

body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
button, a {
  touch-action: manipulation;
}
