<div>
  <!-- NavBar Start -->
  <div class="ps-3">
    <ul class="nav pt-0">
      <li>
          <a class="nav-link ps-0 fa-home" routerLink="/fileList"><fa-icon [icon]="faArrowLeft" class="pe-2"></fa-icon>Back</a>
      </li>
    </ul>
  </div>
  <!-- NavBar End -->
  <div class="container-fluid" *ngIf="fileDetails != null">
    <div class="row">
      <div class="col ps-0 pe-0">
        <ul id="ulFile" class="nav flex-column">
          <li class="text">
            Editing: {{fileDetails?.name}}
          </li>
          <li>
            <div class="d-flex">
              <form (ngSubmit)="saveFile();">
                <button type="submit" class="btn btn-outline-primary" appBtnSaveEdit>Save</button>
              </form>
              <button type="submit" class="btn btn-outline-success ms-2" (click)="beautify();">Beautify</button>
              <button type="submit" class="btn btn-outline-success ms-2" (click)="downloadFile();">Undo</button>
            </div>
          </li>
          <li>
            <textarea [(ngModel)]="fileContent" (input)="pushFileContent();"></textarea>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>